<div class="row">
    <div class="col-12">
        <form [formGroup]="filterForm">
            <div class="row">
                <div class="col-sm-12 col-xl-3">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput formControlName="month" placeholder="Seleccione el mes" type="number" min="1"
                            max="12">
                        <mat-hint align="start">Escriba el <strong>Nombre</strong></mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xl-3">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput formControlName="is" placeholder="Escriba el IS" maxlength="4">
                        <mat-hint align="start">Escriba el <strong>IS</strong></mat-hint>
                        <mat-hint align="end">{{filterForm.controls.is.value.length}} / 4</mat-hint>
                    </mat-form-field>
                </div>
                <ng-container *ngIf="false">
                    <div class="col-sm-12 col-xl-3">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput formControlName="start" [matDatepicker]="picker"
                                placeholder="Elija la fecha de inicio">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-hint align="start">Seleccione la <strong>fecha de inicio </strong></mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-xl-3">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput formControlName="end" [matDatepicker]="picker2"
                                placeholder="Elija la fecha de fin">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                            <mat-hint align="start">Seleccione la <strong>fecha de fin </strong></mat-hint>
                        </mat-form-field>
                    </div>

                </ng-container>
                <div class="col-sm-12 col-xl-3 d-flex justify-content-center align-items-center">
                    <div class="">
                        <button mat-flat-button color="primary" (click)="loadUsers()">Filtrar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12">
        <mat-progress-bar mode="indeterminate" *ngIf="DataSource.loading$"></mat-progress-bar>


        <table mat-table #table matSort matsortactive="id" matsortdirection="asc" [dataSource]="DataSource">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Nombre</strong> </th>
                <td mat-cell *matCellDef="let element">
                    Nombre:
                    {{element.id}}
                </td>
            </ng-container>
            <!-- <ng-container matColumnDef="FOLIO">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Folio </th>
                <td mat-cell *matCellDef="let element">
                    Folio:
                    {{element.folio}}
                </td>
            </ng-container> -->
            <!-- <ng-container matColumnDef="PERCENTAGE">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Merma</th>
                <td mat-cell *matCellDef="let element">
                    Merma: {{element.decrease}}%
                </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="25" [pageSizeOptions]="[1, 10, 25, 50]"
            [length]="DataSource.paginatorTotal$ | async">
        </mat-paginator>
    </div>
</div>