<mat-sidenav-container class="sidenav-container">
    <mat-sidenav 
        #drawer 
        class="sidenav" 
        fixedInViewport="false"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/users/listGet">Endpoint 1</a>
        <a mat-list-item routerLink="/users/listPost">Endpoint 2</a>
        <a mat-list-item routerLink="/period/">Enpoint 3</a>
        <a mat-list-item routerLink="/period/">Enpoint 4</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <a
        class="d-flex justify-content-center"
          type="button"
          aria-label="Toggle sidenav"
          color="primary"
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </a>
        <span>FrontApp</span>
      </mat-toolbar>
      <!-- Contenido aqui -->
      <div class="container ">
        <br>
        <br>
        <router-outlet></router-outlet>
      </div>
      <!-- Termina contenido -->
    </mat-sidenav-content>